/* VARIABLES */
:root {
    --bg-main: #f4f6f8;
    --text-main: #333;
    --card-bg: #ffffff;
    --hero-bg: #005bbb;
    --btn-dark: #24292e;
    --footer-bg: #e1e1e1;
}

/* ===== DARK MODE ===== */
body.dark {
    background-color: #0f172a;
    color: #e5e7eb;
}

body.dark .container {
    background-color: transparent;
}

body.dark .project-card {
    background-color: #1e293b;
}

body.dark footer {
    background-color: #020617;
    color: #cbd5f5;
}

body.dark h2 {
    color: #60a5fa;
}

/* ===== SWITCH ===== */
.theme-toggle {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    justify-content: center;
}

.switch {
    position: relative;
    width: 46px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.switch input:checked + .slider {
    background-color: #2563eb;
}

.switch input:checked + .slider::before {
    transform: translateX(22px);
}

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
}

/* HERO */
.hero {
    background-color: var(--hero-bg);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

/* BOTONES */
.btn {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 6px;
    background-color: var(--btn-dark);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.btn:hover {
    opacity: 0.85;
}

.btn-project {
    background-color: var(--hero-bg);
}

/* CONTENEDORES */
.container {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
}

h2 {
    color: var(--hero-bg);
}

/* TARJETAS */
.project-card {
    background-color: var(--card-bg);
    padding: 25px;
    border-radius: 8px;
    margin-top: 20px;
}

/* CERTIFICACIONES */
.cert-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

/* FOOTER */
footer {
    background-color: var(--footer-bg);
    text-align: center;
    padding: 20px;
    margin-top: 80px;
}
