:root {
    --blue-main: #003b73;
    --blue-dark: #001f3f;
}

/* BASE */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    transition: 0.3s;
}

/* HERO */
.hero {
    background-color: var(--blue-main);
    color: white;
    padding: 50px 20px;
}

.hero-top {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BOTONES */
.hero-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.btn {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 6px;
    background-color: #24292e;
    color: white;
    font-weight: 600;
}

.btn:hover {
    background-color: #000;
}

.btn-project {
    background-color: var(--blue-main);
}

.btn-project:hover {
    background-color: var(--blue-dark);
}

.btn-credential {
    background-color: #374151;
}

/* CONTENEDORES */
.container {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
}

h2 {
    color: var(--blue-main);
}

/* TARJETAS */
.project-card {
    background: white;
    padding: 25px;
    border-radius: 8px;
    margin-top: 20px;
}

/* CERTIFICACIONES */
.cert-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

/* FOOTER */
footer {
    background-color: #e1e1e1;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
}

/* SWITCH */
.dark-toggle {
    display: flex;
    align-items: center;
    gap: 8px;
}

.switch {
    position: relative;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
}

.slider {
    position: absolute;
    inset: 0;
    background-color: #bbb;
    border-radius: 20px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: var(--blue-main);
}

input:checked + .slider::before {
    transform: translateX(20px);
}

/* DARK MODE */
body.dark {
    background-color: #0b1220;
    color: #e5e7eb;
}

body.dark h2 {
    color: #60a5fa;
}

body.dark .project-card {
    background-color: #111827;
}

body.dark footer {
    background-color: #020617;
}
